.footer-section {
  background: #02152f;
  color: white;
  padding: 70px 0 25px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.footer-brand img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.footer-brand h4 {
  margin: 0;
  font-weight: 700;
}

.footer-brand p {
  margin: 0;
  color: #b8c7dd;
}

.footer-text {
  color: #b8c7dd;
  line-height: 1.8;
}

.footer-section h5 {
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  color: #b8c7dd;
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,.12);
  margin-top: 35px;
  padding-top: 20px;
  text-align: center;
  color: #b8c7dd;
} 
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin-bottom: 12px;
}

.footer-menu a {
  text-decoration: none;
  color: #b8c7dd;
  transition: .3s;
}

.footer-menu a:hover {
  color: white;
  padding-left: 5px;
}
.footer-menu a {
  display: inline-block;
}